# Crestron directories, files, or patterns not needed by version control
*.vtz
*.xexe/
*.ASV
*_xweb.c3prj/
*.sgd*
*.sm2
*.sig
*.smw
*.lpz
*.asv
*_compiled.zip
*.lpz.hash
*.smft
SPlsWork/
UI/
*_archive.zip